.header {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  &__link-header {
    color: #70544f;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    padding: 6px 15px 0;
  }
  &__burger {
    display: flex;
    justify-content: flex-end;
  }
  &__burger-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
  }
  &__burger-menu-nav {
    padding: 0 14px;
    color: #70544f;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
  }

  &__burger-menu-login {
    margin: 0 16px;
    border-radius: 24px;
    padding: 15px 25px;
    color: #50a684;
    background-color: #e1faf4 !important;
    border: 0;
    font-size: 14px;
    font-weight: 700;
  }
  &__btn-header-address {
    background-color: #50a684;
    height: 45px;
    padding: 10px;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.33;
    text-align: center;
    cursor: pointer;
    width: 88%;
  }
  &__btn-header-address:hover {
    width: 95%;
    height: 48px;
    transition: width 0.2s;
    background-color: #50a684;
  }
  &__btn-burger-menu {
    font-weight: bold;
    color: #a69895;
  }
  &__btn-burger-menu:hover {
    color: #50a684;
  }
}
.active-btn-nav {
  color: #bfb7b6;
}
@media (max-width: 768px) {
  .header {
    &__btn-header {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .header {
    &__link-header {
      display: none;
    }
  }
}
